.home{
    width: 100%;
    min-height: 100vh;
    background: #232323;
}
.innerPart{
    margin: auto;
    max-width: 1440px;
    height: 100vh;
    padding: 80px 20px ;
    display: flex;
    flex-wrap: wrap;
}
.hs{
    width: 100%;
    display:flex;
    justify-content: space-around;
}